.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    box-sizing: border-box;
    padding: 1px;
    gap: 1px;
}
.grid {
    box-sizing: border-box;
}

.highlight {
    background-color: yellow;
}

.grid-num {
    margin: 10px 40%;
}