.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    box-sizing: border-box;
    padding: 1px;
    gap: 1px;
    margin: 20px auto;
}
.grid {
    box-sizing: border-box;
    background-color: rgb(216, 216, 255);
}

.grid-num {
    margin: 10px 40%;
}